.main__container {
    width: auto;
    height: 90vh;
    display: flex;
    justify-content: space-between;
    padding: 8px 32px 32px 32px;
    gap: 12px;
    box-sizing: border-box;
    font-family: var(--main-font);
    background-color: var(--primary-color);
}

.main__container__toggles{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100px;
    gap: 24px;
    padding: 36px 12px;
    background-color: var(--tertiary-color);
    border: 1px solid var(--secondary-color);
    border-radius: 20px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}

.main__container__logo {
    width: 100px;
    height: 45px;
}

.main__container .toggle__dark__mode {
    padding: 8px 16px;
    border-radius: 16px;
    border: 1px solid transparent;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    cursor: pointer;
}


.text__container {
    background-color: var(--primary-color);
    width: 50%;
    padding: 24px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.text__input {
    height: 75%;
    width: 100%;
    border: none;
    font-size: 32px;
    padding: 0px 4px;
    font-family: var(--main-font);
    flex-grow: 2;
}

::placeholder {
    color: var(--secondary-color);
    opacity: 1;
}

textarea {
    resize: none;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

textarea:focus,
input:focus {
    resize: none;
    outline: 0;
}

::-webkit-scrollbar {
    width: 8px;
    border-radius: 100px;
}

::-webkit-scrollbar-thumb {
    min-height: 100px;
    border-radius: 16px;
    background-color: var(--tertiary-color);
}

.text__container__disclaimer {
    margin-right: auto;
    margin-top: 12px;
    margin-bottom: 12px;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 12px;
    font-weight: 400;
    color: var(--secondary-color);
}

.text__container__button {
    width: 100%;
    display: flex;
}

.text__container__button button {
    border-radius: 25px;
    width: 50%;
    max-width: 40%;
    padding: 24px 0;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
}

.text__container__button .button_encrypt {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    margin: 0 24px 0 0;
}

.text__container__button .button_encrypt:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    transition: 0.25s;
}

.text__container__button .button_decrypt {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
}

.text__container__button .button_decrypt:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
    transition: 0.25s;
}

.decoder__container {
    background-color: var(--tertiary-color);
    display: flex;
    color: var(--secondary-color);
    flex-direction: column;
    width: 25%;
    padding: 24px;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
}

.decoder__container h1 {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    margin-top: 12px;
}

.decoder__container h2 {
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin-top: 12px;
}

.decoder__container img {
    overflow: hidden;
    width: 100%;
}

.decoder__return {
    background-color: var(--primary-color);
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 25%;
    padding: 24px;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);
    max-width: 100%;
}

.decoder__return p {
    max-width: 100%;
    color: var(--secondary-color);
    width: 100%;
    height: 85%;
    padding: 0px 4px;
    max-height: 90%;
    word-wrap: break-word;
    overflow-y: scroll;
    font-size: 24px;
    font-weight: 400;
    text-align: left;
}

.decoder__return__button {
    display: flex;
    gap: 12px;
}

.decoder__return button {
    max-width: 50%;
    padding: 24px 60px;
    border-radius: 25px;
    font-size: 16px;
    font-weight: 400;
    cursor: pointer;
}

.decoder__return .button__copy {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: 1px solid var(--secondary-color);
}

.decoder__return .button__copy:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    transition: 0.25s;
    border: 1px solid var(--primary-color);
}

.decoder__return .button__clear {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: 1px solid var(--primary-color);
}

.decoder__return .button__clear:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    transition: 0.25s;
    border: 1px solid var(--secondary-color);
}

.hidden {
    opacity: 0;
    transition: opacity 0.5 ease;
    display: none;
}

.footer {
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--main-font);
    font-size: 18px;
    color: var(--primary-color);
    background: linear-gradient(270deg, var(--secondary-color), var(--tertiary-color));
}